/*<!-- Project Name: Pacific Resort -->

<!-- Author: Lily Hauge -->

<!-- Date Last Modified: 4.23.19 -->

Major formatting issues!
Missing resized pages...
*/



header, nav, main, footer

{

  display: block;

}



*

{

  box-sizing: border-box;

}



main

{

  background-color: #FFFFFF;

  background-image: linear-gradient(#3399CC,#C2E0F0,#3399CC);

  color: #666666;

  font: Arial;

  padding-left: 2em;

  padding-right: 2em;

  display: block;

  margin-left: 170px;

  padding-top: 1px;

  padding-bottom: 1px;

}



header

{

  background-color: #000033;

  color: #FFFFFF;

  font: Georgia;

}



h1

{



  background-image: url("sunset.jpg");

  display: block;

  background-repeat: no-repeat;

  padding-left: 2em;

  height:72px;

  line-height: 200%;

  margin-bottom: 0;

}



nav

{

  float: left;

  width: 160px;

  padding-left: 0;

  padding-right: 0;

  padding-top: 0;

  padding-bottom: 0;

  font-weight: bold;

  text-decoration: none;

}



nav a:link

{

  color: #FFFFFF;

}



nav a:visited

{

  color: #C2E0F0;

}



nav a:hover

{

  color: #CCCCCC;

}



#nav ul li a

{

  list-style-type: none;

  padding-left: 1em;

}



h2

{

  color: #3399CC;

  font: Georgia;

}



dt

{

  color: #000033;

  font-weight: bold;

}



.yurthero

{

  color: #000033;

  font-size: 1.2em;

}



footer

{

  font-size: .70em;

  font-style: italic;

  text-align: center;

  padding: 1em;

  background-color: #FFFFFF;

  margin-left: 170px;

}



.wrapper

{

  background-color: #000033;

  min-width: 700px;

  max-width: 1024px;

  box-shadow: shadow;

  width: 80%;

  margin-right: auto;

  margin-left: auto;

}



h3

{

  color: #000033;

}



.homehero

{

  margin-left: 170px;

  height: 300px;

  background-image: url("coast.jpg");

  background-size: 100% 100%;

  background-repeat: no-repeat;

}



.trailhero

{

  margin-left: 170px;

  height: 300px;

  background-image: 100% 100%;

  background-repeat: no-repeat;

}



.yurthero

{

  height: 300px;

  background-image: image("yurt.jpg");

  background-size: 100% 100%;

  background-repeat: no-repeat;

  margin-left: 170px;

}